<body style="color:black">
    <a href="/users/<%= id %>"><h3><%= username %></h3></a>
    
    <% if lol == true || dota2 == true || smite == true || hots == true %>
        <p><strong>Games:</strong></p>
    <% end %>
    <% if lol == true %>
    
    <p>League of Legends</p>
    <% end %>
    <% if dota2 == true %>
    
    <p>Dota 2</p>
    <% end %>
    <% if smite == true %>
    
    <p>Smite</p>
    <% end %>
    <% if hots == true %>
    
    <p>Heroes of the Storm</p>
    <% end %>
    
    
</body>