<li>
  <br>
  <%= link_to user.username, user %>

  <%= image_tag (user.avatar.url(:thumb)) %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
