<<<<<<< HEAD
<style>
.box{	
	height: 160px;
	width: 700px;
}
.image_style {
  height: 150px;
  width: 155px;
  margin-top: 5px;
}

.name_style{
	color: white;
	font-size: 30px;
	margin-left: 30px;
}

hr{
	border-width: 3px;
	border-color: #cbcbcb;
	margin-right: 50px;	
	width: 95%;
}
</style>

<div class="box">
	<!--<%= image_tag @current_user.avatar.url(:thumb), :class => "image_style" %>-->
	<%= image_tag user.avatar.url(:medium), :class => "image_style" %>
	<%= link_to user.username, user, :class => "name_style" %>
	<% if current_user.admin? && !current_user?(user) %>
    	| <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  	<% end %>
</div>
<hr>
