<style>
.jumbotron{
	background: #1a1a1a;
	height: 450px;
}

.jumbotron1{
	background: url("/assets/citybg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
	height: 900px;
}

.jumbotron2{
	background: url("/assets/oribg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    height: 700px;
}

.topjumbotron{
	background-color: #cb0004;
	height: 12px;
	width: 80%;
    margin: 0 auto;   
}

.innerjumbotron1{
	height: 100%;
	width: 80%;
    margin: 0 auto;
	opacity: 0.9; 
	/*for floating
	display:flex;
    flex-direction:row;
	justify-content: space-around; */
}

.innerjumbotron2{
	height: 100%;
	width: 80%;
    margin: 0 auto;   
}

.floating{
	position:relative;
	float:left;
	height: 400px;
	margin-right:40px;
	margin-left: -20px;
}

.whitetext{
	color: white;
}

/*
.floating{
	display:flex;
    flex-direction:column;
}
*/
</style>


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--Beginning of body-->
<br />
<!--First jumbotron-->
<div class="jumbotron jumbotron1 whitetext">
	<div class="container">
		<br />
		<br />
		<br />
		<div class="topjumbotron">
		</div>
		<div class="jumbotron innerjumbotron1">
			<div class="floating">
				<br />
				<br />
	  			<img src="/assets/samplelogo.png" alt="logo" width=350px height=200px />
	  		</div>
	  		<hr>
	  		<p><-logo will be going there. thin bar of color above ^ will change accordingly to match logo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet elementum enim, at elementum erat suscipit accumsan. Sed rhoncus commodo sapien, eu pellentesque nibh.
	  		</p>
	  		<hr>
	  	</div>
		</div>
  	</div>
</div>

<!--Second jumbotron-->
<div class="jumbotron whitetext">
	<div class="container">
		<div class="jumbotron innerjumbotron1">
			<div class="floating">
	  			<img src="/assets/googlemaps-logo.png" alt="logo" width=200px height=200px />
	  		</div>
	  		<br />
	  		<p>Use the google maps api to blah blah Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet elementum enim, at elementum erat suscipit accumsan. Sed rhoncus commodo sapien, eu pellentesque nibh.
	  		</p>
	  		<br />
  			<p>
  				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  			</p>	  		
	  	</div>
		</div>
	</div>
</div>

<!--Third jumbotron-->
<div class="jumbotron jumbotron2">
  	<div class="container">
  		<br />
  		<br />
  		<br />
  		<br />
  		<div class="topjumbotron">
  		</div>
		<div class="jumbotron innerjumbotron1">
	  		<img src="/assets/logo-league.png" alt="logo" width=250px height=110px />
	  		<img src="/assets/logo-sc2.png" alt="logo" width=250px height=150px />	  	  		
	  		<img src="/assets/logo-wow.png" alt="logo" width=250px height=150px />	
	  		<img src="/assets/logo-sc2.png" alt="logo" width=250px height=150px />	  
	  		<img src="/assets/logo-sc2.png" alt="logo" width=250px height=150px />	  
	  		<img src="/assets/logo-sc2.png" alt="logo" width=250px height=150px />	  	  			  			  				  		
		</div>  	
  	</div>
</div>




<!--
<div class="jumbotron jumbotron1 greytext">
	<div class="container">
		<br />
		<br />
		<div class="jumbotron innerjumbotron1">
			<div class="inside-jumbotron">
	  			<div class="floating">
	  				<img src="/assets/samplelogo.png" alt="logo" width=350px height=200px />
	  			</div>
	  			<div>
	  				<hr>
	  				<p>ASDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD</p>
	  				<hr>
	  			</div>
	  		</div>
		</div>
  	</div>
</div>
-->