<!--Homepage-->
<style>
.jumbotron{
	background: #0f151a;
	height: 550px;
}

.jumbotron1{
	background: url("http://i.imgur.com/NOXjXXY.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
	height: 970px;
}

.jumbotron2{
	background: url("http://i.imgur.com/cGlyFRx.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    height: 870px;
}

.jumbotron3{
	background: url("http://i.imgur.com/6MzTyWl.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    height: 880px;
}

.jumbotron4{
	background: url("http://i.imgur.com/Q9L8sGd.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
	height: 1050px;
	/*http://i.imgur.com/SjZhngP.jpg*/
}

.topjumbotron{
	background-color: #152230;
	height: 18px;
	width: 90%;
    margin: 0 auto;
}

.topjumbotronfirst{
	background-color: #152230;
	height: 15px;
	width: 550px;
    margin: 0 auto;
}

.innerjumbotron1{
	height: 400px;
	width: 90%;
    margin: 0 auto;
}

.innerjumbotron2{
	height: 400px;
	width: 90%;
    margin: 0 auto;
    opacity: 0.86;    
}

.innerjumbotron3{
	height: 600px;
	width: 90%;
    margin: 0 auto;
    opacity: 0.86;    
}

.innerjumbotron4{
	background: #0f151a;	
	height: 510px;
	width: 100%;
    margin: 0 auto;
    text-align: center;
}


.floating{
	position:relative;
	float:left;
	height: 400px;
	margin-right:40px;
	margin-left: -20px;
}

hr{
	border-width: 5px;
}
h1{
  color: #41deed !important;
}

/*-----Portfolio-----*/
.portfolio-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  /* background:  rgba(123, 38, 169, 0.6);*/
  background:  rgba(51, 122, 183, 0.6);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 380px;
  height: 400px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 380px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 25px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.img-responsive{
	height: 400px;
	width: 380px;
}

.inlinedisplay{
	display: inline-block;
	margin: 8px;
}

</style>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--Beginning of body-->
<!--First jumbotron...citybg-->
<div class="jumbotron jumbotron1">	
	<br />
	<div class="container">
	  	<div>
			<div style="margin-left:2%">
	  			<img src="http://i.imgur.com/9ga1fvH.png" alt="logo" width=1100px height=600px margin-bottom: 100px />
	  		</div>
	  	</div>
	</div>	  		
</div>

<!--Second jumbotron...solid-->
<div class="jumbotron">
	<div class="container">
		<br />
		<br />
		<div class="jumbotron innerjumbotron1">
			<div class="floating">
	  			<img src="http://i.imgur.com/xishZbc.png" alt="logo" width=300px height=250px margin-bottom: 100px />
	  		</div>
	  		<hr>
	  		<h2>A RANDOM ENCOUNTER HAS APPEARED. WILL YOU FIGHT OR RUN?</h2>
	  		<hr>
	  		<p>Tired of going on quests and adventures with strangers you'll never meet halfway across the world? Random Encounters helps gamers find friends near their area to buddy up and game with.
	  		</p>
	  	</div>
		</div>
	</div>
</div>

<!--Third jumbotron...oribg-->
<div class="jumbotron jumbotron2">
  	<div class="container">
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<div class="topjumbotron">
  		</div>
		<div class="jumbotron innerjumbotron2">
			<br />
			<div style="margin:auto; width:80%";>
				<div class="floating">
		  			<img src="http://i.imgur.com/49hgItb.png" alt="logo" width=200px height=200px />
		  		</div>
		  		<br />
		  		<p>Use our integrated Google Maps API to search and team up with other gamers with similar interests and who play similar games in your area. Don't have an account yet? Sign up today!
		  		</p>
		  		<% if logged_in? %>	
		  			<p>
		  				<a class="btn btn-primary btn-lg" href="<%= maps_path %>" role="button">Learn more</a>
		  			</p>
		  		<% else %>
		  			<p>
		  				<a class="btn btn-primary btn-lg" href="<%= login_path %>" role="button">Learn more</a>
		  			</p>
		  		<% end %>		  		
	  		</div>
	  	</div>
		</div>
  	</div>
</div>

<!--Three and a half jumbotron...maple-->
<div class="jumbotron jumbotron4">
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="jumbotron innerjumbotron4">
		    <section class="no-padding" id="portfolio">
		        <div class="container-fluid">
		            <div class="row no-gutter">
						<div class="inlinedisplay">
		                    <div class="portfolio-box">
		                        <img src="http://i.imgur.com/01kFzCL.png" class="img-responsive" alt="">
		                        <div class="portfolio-box-caption">
		                            <div class="portfolio-box-caption-content">
		                                <div class="project-category text-faded">
		                                    Adventure
		                                </div>
		                                <div class="project-name">
		                                    Go on adventures with new people! Follow other users and have them follow you too!
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="inlinedisplay">
		                    <div class="portfolio-box">
		                        <img src="http://i.imgur.com/2HOZM36.jpg" class="img-responsive" alt="">
		                        <div class="portfolio-box-caption">
		                            <div class="portfolio-box-caption-content">
		                                <div class="project-category text-faded">
		                                    Conquest
		                                </div>
		                                <div class="project-name">
		                                    Share your victories and conquests by posting status updates on your profile!
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="inlinedisplay">
		                    <div class="portfolio-box">
		                        <img src="http://i.imgur.com/GRVW279.jpg" class="img-responsive" alt="">
		                        <div class="portfolio-box-caption">
		                            <div class="portfolio-box-caption-content">
		                                <div class="project-category text-faded">
		                                    Discover
		                                </div>
		                                <div class="project-name">
		                                    Discover trends and user patterns using data extracted from our data mining API on our data graphics page!
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>		               
		            </div>
		        </div>
		    </section>		
	</div>
</div>

<!--Fourth jumbotron...solid-->
<div class="jumbotron">
	<div class="container">
		<br />
		<div class="jumbotron innerjumbotron1" style="margin-left: 12%;">
	  		<img src="http://i.imgur.com/1FkXKCM.png" alt="logo" width=370px height=150px />
	  		<img src="http://i.imgur.com/xAIRHRf.png" alt="logo" width=330px height=110px />
	  		<img src="http://i.imgur.com/HOIyxUH.png" alt="logo" width=350px height=170px />
	  		<img src="http://i.imgur.com/8omtByM.png" alt="logo" width=360px height=210px />
		</div>
		</div>
	</div>
</div>

<!--Twitter Feed-->
<div class="jumbotron jumbotron3">
  	<div class="container">
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />  
  		<br />		
			<div>
			<!--style="margin-left:25%;"-->
			<div style="margin-left:10%; width:85%";>
				<div class="floating" style="margin-right: 160px;">
				<div>
				      <a class="twitter-timeline"
				      href="https://twitter.com/R_encounters"
				      data-widget-id="706651821549355009">Tweets by @R_encounters
				      </a>
				      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
				        (document,"script","twitter-wjs");
				      </script>
				</div>
		  		</div>
		  		<br />
		  		<br /> 
		  		<br />
		  		<br />
		  			<img src="http://i.imgur.com/QiSzGNv.png" alt="logo" width=290px height=240px />
	  		</div>				
			</div>	
  	</div>
</div>