/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*CSS stats here*/

/*getting rid of rounded corners*/
* {
  border-radius: 0 !important;
}

body{
	background: #0f151a;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
}

hr{
	border-color: white;
}

.jumbotron{
	background: #1a1a1a;
	margin-bottom:0;	
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Navbar*/
.nav{
	height:70px;
}

.navbar{
	background: #1a1a1a;
    border: none!important;	
	margin-bottom:0;
}

/*the logo thing*/
.navbar-brand{
	padding-top:25px;
	padding-right: 520px;
}

.navbarvar{
	padding: 10px;
	height: 70px;
}

.navbarvar:hover{
    background-color: black;
}

/*for the dropdown menu*/
.dropdownvar{
	color: white;
}

.dropdown:hover{
	background-color: black;
}

.dropdown-menu{
	background-color: #1a1a1a;
	color: white;
}

.dropdown-menu>li>a{
	width: 100%;
	color: #9d9d9d;
}

.dropdown-menu>li>a:hover{
	background-color: black;
	color: white;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Footer CSS*/

.footer-basic-centered{
	background-color: #1a1a1a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}